/*
 * Versionalize
 */

versionalize(path)
	$dirname = dirname(path)
	$extname = extname(path)
	$basename = basename(path, $extname)

	return pathjoin($dirname, $basename + '-' + join('-', split('.', version)) + $extname)
