extends ../../layouts/component

block content
	form-set(
		:validation='validation',
		:message='message',
		:error-message='errorMessage'
	)
		.form__combobox-container
			.form__combobox(
				tabindex='0',
				:disabled='disabled',
				:class='{"form__combobox--open": open}',
				@click='open = !open'
			)
				.form__combobox__placeholder {{selectedName}}
				label.form__label {{label}}
				.form__combobox__list
					button.form__combobox__option(
						type='button',
						v-for='option in options',
						:key='option.id',
						@click='_value = option.id'
					) {{option.name}}
