extends ../../layouts/component

block content
	aside.layout__sidebar
		ul.sidebar
			li.sidebar__item
				button.sidebar__toggler(type='button')

			li.sidebar__item(v-for='(route, index) in routes')
				router-link.sidebar__link(:to='{name: route.name}', :title='route.meta.title')
					+icon('melhor-envio-logo')
					| {{route.meta.title}}
