/*
 * Colors
 */

// @stylint off
theme-classes($prop)
	for $theme in $themes
		for $t in $themes[$theme]
				&--{$theme}
					if $t is 'default'
						{$prop} lookup('$theme-' + $theme)
					else
						&-{$t}
							{$prop} lookup('$theme-' + $theme + '-' + $t)
// @stylint on

/*
 * Generate color classes:
 * .color--primary, .color--primary-light, .color--primary-dark...
 */

.color
	theme-classes(color)

	&--brand
		color $theme-brand-type !important
		fill $theme-brand-icon !important

/*
 * Generate background classes:
 * .background--primary, .background--primary-light, .background--primary-dark...
 */

.background
	margin-bottom 10px
	padding 30px 0
	width 220px
	text-align center
	color black

	theme-classes(background)
