/*
 * Typography Config
 */

$type-default-font-family = $font.family.default
$type-default-font-weight-regular = $font.weight.default.regular
$type-default-font-weight-bold = $font.weight.default.bold

$type-alt-font-family = $font.family.alt
$type-alt-font-weight-regular = $font.weight.alt.regular
$type-alt-font-weight-bold = $font.weight.alt.bold


/*
 * Text Styles
 */

// Types
$type-default-regular
	font-family $type-default-font-family
	font-weight $type-default-font-weight-regular

$type-default-bold
	font-family $type-default-font-family
	font-weight $type-default-font-weight-bold

$type-alt-regular
	font-family $type-alt-font-family
	font-weight $type-alt-font-weight-regular

$type-alt-bold
	font-family $type-alt-font-family
	font-weight $type-alt-font-weight-bold

.text
	// Styles
	&--hero
		@extend $type-default-bold

		margin-bottom $size-big
		font-size $font-size-xxl
		line-height 44px

	&--title
		@extend $type-default-bold

		margin-bottom $size-normal
		font-size $font-size-xl
		line-height 28px

	&--subtitle
		@extend $type-default-bold

		margin-bottom $size-normal
		font-size $font-size-lg
		line-height 24px

	&--highlight
		@extend $type-default-bold

		margin-bottom $size-normal
		font-size $font-size-md
		line-height 20px

	&--normal
		@extend $type-default-regular

		font-size $font-size-md
		line-height 20px

		p
			margin-bottom $spacing-snug

			&:last-child
				margin-bottom 0

	&--small
		@extend $type-default-regular

		font-size $font-size-sm
		line-height 18px

	&--minute
		@extend $type-default-regular

		font-size $font-size-xs
		line-height 16px

	&--tiny
		@extend $type-default-bold

		font-size $font-size-xxs
		line-height 12px

	// Themes
	// Generate text theme classes: .text-[theme]
	// @stylint off
	for $theme in $themes
		for $t in $themes[$theme]
			if index('light' 'dark', $t) is null
				if $theme is 'neutral'
					&--{$t}
						color lookup('$theme-neutral-' + $t)
				else
					&--{$theme}
						color lookup('$theme-' + $theme)
	// @stylint on

	&--code
		overflow-x auto
		padding $size-nano
		font-family monospace
		font-weight normal
		line-height 1.5
		word-wrap break-word
		word-break break-all
		color $theme-neutral-shine
		background $theme-neutral-murk
		border-radius $size-nano
		tab-size 4


// General
body
	@extend .text--normal
