extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Buttons

		article.space--snug
			h2.text--title Primary
			button.button(type='button')
				+icon('github')
				| Button
			button.button.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--minimal(type='button') Button

		article.space--snug
			h2.text--title Secondary
			button.button.button--secondary(type='button')
				+icon('github')
				| Button
			button.button.button--secondary.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--secondary.button--minimal(type='button') Button

		article.space--snug
			h2.text--title Success
			button.button.button--success(type='button')
				+icon('github')
				| Button
			button.button.button--success.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--success.button--minimal(type='button') Button

		article.space--snug
			h2.text--title Info
			button.button.button--info(type='button')
				+icon('github')
				| Button
			button.button.button--info.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--info.button--minimal(type='button') Button

		article.space--snug
			h2.text--title Danger
			button.button.button--danger(type='button')
				+icon('github')
				| Button
			button.button.button--danger.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--danger.button--minimal(type='button') Button

		article
			h2.text--title Warning
			button.button.button--warning(type='button')
				+icon('github')
				| Button
			button.button.button--warning.button--alt(type='button')
				+icon('github')
				| Button
			button.button.button--warning.button--minimal(type='button') Button
