extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Cards

		article.space--snug
			h2.text--title Sizes

			.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
					.card.space-i--snug .space-i--snug

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
					.card.space-i--loose .space-i--loose

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.card.space-i--wide .space-i--wide

		article.space--snug
			h2.text--title Themes

			.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
					.card.card--primary.space-i--snug .card--primary

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
					.card.card--secondary.space-i--snug .card--secondary

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.card.card--info.space-i--snug .card--info

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
					.card.card--success.space-i--snug .card--success

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
					.card.card--danger.space-i--snug .card--danger

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.card.card--warning.space-i--snug .card--warning

		article.space--snug
			h2.text--title Backgrounds

			.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
					.card.card--bright.space-i--snug .card--bright

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
					.card.card--light.space-i--snug .card--light

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.card.card--clear.space-i--snug .card--clear

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
					.card.card--medium.space-i--snug .card--medium

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
					.card.card--dark.space-i--snug .card--dark

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.card.card--murk.space-i--snug .card--murk
