extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Colors

		article.space--snug
			h2.text--title Neutral
			.grid
				.background.background--neutral-shine.grid__item-sm--auto $theme-neutral-shine
				.background.background--neutral-bright.grid__item-sm--auto $theme-neutral-bright
				.background.background--neutral-light.grid__item-sm--auto $theme-neutral-light
				.background.background--neutral-clear.grid__item-sm--auto $theme-neutral-clear
				.background.background--neutral-medium.grid__item-sm--auto $theme-neutral-medium
				.background.background--neutral-dark.grid__item-sm--auto $theme-neutral-dark
				.background.background--neutral-murk.grid__item-sm--auto $theme-neutral-murk

		article.space--snug
			h2.text--title Primary
			.grid
				.background.background--primary.grid__item-sm--auto $theme-primary
				.background.background--primary-light.grid__item-sm--auto $theme-primary-light
				.background.background--primary-dark.grid__item-sm--auto $theme-primary-dark

		article.space--snug
			h2.text--title Secondary
			.grid
				.background.background--secondary.grid__item-sm--auto $theme-secondary
				.background.background--secondary-light.grid__item-sm--auto $theme-secondary-light
				.background.background--secondary-dark.grid__item-sm--auto $theme-secondary-dark

		article.space--snug
			h2.text--title Success
			.grid
				.background.background--success.grid__item-sm--auto $theme-success
				.background.background--success-light.grid__item-sm--auto $theme-success-light
				.background.background--success-dark.grid__item-sm--auto $theme-success-dark

		article.space--snug
			h2.text--title Info
			.grid
				.background.background--info.grid__item-sm--auto $theme-info
				.background.background--info-light.grid__item-sm--auto $theme-info-light
				.background.background--info-dark.grid__item-sm--auto $theme-info-dark

		article.space--snug
			h2.text--title Danger
			.grid
				.background.background--danger.grid__item-sm--auto $theme-danger
				.background.background--danger-light.grid__item-sm--auto $theme-danger-light
				.background.background--danger-dark.grid__item-sm--auto $theme-danger-dark

		article
			h2.text--title Warning
			.grid
				.background.background--warning.grid__item-sm--auto $theme-warning
				.background.background--warning-light.grid__item-sm--auto $theme-warning-light
				.background.background--warning-dark.grid__item-sm--auto $theme-warning-dark
