extends ../../layouts/view

block content
	.grid__item-sm--12.ui
		+icon('melhor-envio').color--brand.space--vast(style='width: 227px; height: 105px;')

		article.space--vast
			h1.text--title Running

			p You can run the app locally by running these following commands:

			h2.text--subtitle Available Gulp commands

			h3.text--highlight Default - #[code.text--code yarn start] or #[code.text--code npm start]

			p Run this commnad to compile and watch files running on #[a.color--info(href='http://localhost:3000') localhost:3000].

			h3.text--highlight Build - #[code.text--code yarn run build] or #[code.text--code npm run build]

			p Run this command to only compile files.

			h3.text--highlight Clean - #[code.text--code yarn run clean] or #[code.text--code npm run clean]

			p Run this command to delete the public/ folder (same as #[code.text--code rm -rf public]).

		article
			h1.text--title Structure

			p When you have all installed, the structure will look like this:

			pre.text--code.
				gulpfile.babel.js/
				├── tasks/
				│   └── *.js
				├── index.js
				└── paths.js
				node_modules/
				src/
				├── copy/
				│   ├── fonts/
				│   │   └── *.{eot|svg|ttf|woff}
				│   └── **/*
				├── css/
				│   ├── components/
				│   │   └── *.styl
				│   ├── core/
				│   │   └── *.styl
				│   └── style.styl
				├── html/
				│   ├── app/
				│   │   ├── components/
				│   │   │   └── *.pug
				│   │   └── views/
				│   │       └── *.pug
				│   ├── components/
				│   │   └── *.pug
				│   ├── includes/
				│   │   └── *.pug
				│   ├── layouts/
				│   │   └── *.pug
				│   └── index.pug
				├── img/
				│   ├── backgrounds/
				│   │   └── *.{jpg|png|svg}
				│   ├── favicons/
				│   │   └── *.{png|svg}
				│   ├── sprite/
				│   │   └── *.svg
				│   └── *.{jpg|png|svg}
				└── js/
				    ├── app/
				    │   ├── index.js
				    │   └── *.js
				    ├── modules/
				    │   └── *.js
				    └── app.js
				.babelrc
				.editorconfig
				.env
				.eslintrc
				.gitattributes
				.gitignore
				.pug-lintrc
				.stylintrc
				content.json
				install.sh
				logo.png
				package.json
				README.md
