extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Tables

		article.space--loose
			h2.text--title Default

			.table-scrollable
				table.table
					thead.table__head
						th.table__cell Header 1
						th.table__cell Header 2
						th.table__cell Header 3
					tfoot.table__footer
						th.table__cell Footer 1
						th.table__cell Footer 2
						th.table__cell Footer 3
					tbody.table__body
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3

		article.space--loose
			h2.text--title Striped

			.table-scrollable
				table.table.table--striped
					thead.table__head
						th.table__cell Header 1
						th.table__cell Header 2
						th.table__cell Header 3
					tfoot.table__footer
						th.table__cell Footer 1
						th.table__cell Footer 2
						th.table__cell Footer 3
					tbody.table__body
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
						tr.table__row
							td.table__cell Cell 1
							td.table__cell Cell 2
							td.table__cell Cell 3
