extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Tabs

		.tabs
			.tabs__menu
				button.tabs__button(type='button') Tab 1
				button.tabs__button(type='button') Tab 2
				button.tabs__button(type='button') Tab 3
				button.tabs__button(type='button') Tab 4
			.tabs__content.space-i--loose Content 1
			.tabs__content.space-i--loose Content 2
			.tabs__content.space-i--loose Content 3
			.tabs__content.space-i--loose Content 4
