extends ../../layouts/view

block content
	.grid__item-sm--12
		h1.text--hero Typography

		article.space--snug
			h2.text--title Types
			.text--hero .text--hero
			.text--title .text--title
			.text--subtitle .text--subtitle
			.text--highlight .text--highlight
			.text--normal
				p .text--normal - Voluptatum, consequuntur? Dolore numquam illum soluta vero dolorum,
					|  ipsa eum fugit molestias, unde delectus error dicta totam explicabo id ratione. Praesentium, culpa.
				p Nam necessitatibus eligendi nihil, iusto autem dolorem dignissimos neque
					|  voluptate reiciendis, ipsa quia! Quisquam, minima et fuga iste aperiam consectetur? Facere, officiis!
			.text--small .text--small
			.text--minute .text--minute
			.text--tiny .text--tiny

		article
			h2.text--title Themes
			.color--neutral-shine .color--neutral-shine
			.color--neutral-bright .color--neutral-bright
			.color--neutral-light .color--neutral-light
			.color--neutral-clear .color--neutral-clear
			.color--neutral-medium .color--neutral-medium
			.color--neutral-dark .color--neutral-dark
			.color--neutral-murk .color--neutral-murk
			.color--primary .color--primary
			.color--primary-light .color--primary-light
			.color--primary-dark .color--primary-dark
			.color--secondary .color--secondary
			.color--secondary-light .color--secondary-light
			.color--secondary-dark .color--secondary-dark
			.color--success .color--success
			.color--success-light .color--success-light
			.color--success-dark .color--success-dark
			.color--info .color--info
			.color--info-light .color--info-light
			.color--info-dark .color--info-dark
			.color--danger .color--danger
			.color--danger-light .color--danger-light
			.color--danger-dark .color--danger-dark
			.color--warning .color--warning
			.color--warning-light .color--warning-light
			.color--warning-dark .color--warning-dark
