script(src='//cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js')
script(src='//cdn.jsdelivr.net/npm/vuex@3.5.1/dist/vuex.min.js')
script(src='//cdn.jsdelivr.net/npm/vue-router@3.3.4/dist/vue-router.min.js')
script(src=versionalize('js/app.js'))
